# ── MQTT ──────────────────────────────────────────────────────────────────────
MQTT_BROKER=mosquitto
MQTT_PORT=1883
MQTT_TOPIC=agricultura/sensores/#

# ── InfluxDB ──────────────────────────────────────────────────────────────────
INFLUX_URL=http://influxdb:8086
INFLUX_TOKEN=agro-iot-token-fase3-icesi-2026
INFLUX_ORG=agricultura
INFLUX_BUCKET_RAW=agro_iot_data
INFLUX_BUCKET_PROCESSED=agro_iot_processed
INFLUX_BUCKET_ALERTS=agro_iot_alerts

# ── InfluxDB init (solo para el contenedor influxdb) ──────────────────────────
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_ORG=agricultura
DOCKER_INFLUXDB_INIT_BUCKET=agro_iot_data
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=agro_admin_2026
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=agro-iot-token-fase3-icesi-2026
DOCKER_INFLUXDB_INIT_RETENTION=0

# ── Grafana ───────────────────────────────────────────────────────────────────
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=agro_grafana_2026
